$primary2: rgba(70, 110, 225, 0.855);

.embedVideo {
    width: 100%;
    height: 90%;
    position: absolute;
    
    .ajfrejm {  
        overflow:hidden;
        overflow-x:hidden;
        overflow-y:hidden;
        position: fixed;
        transform: scale(1.5);
        z-index: -99;
    }
}

.mobileBackground {
    width: 100vh;
    height: 100vh;
    object-fit: cover;
}

.content {
    z-index: 1;
    color: rgb(50, 60, 70);
    overflow: hidden;
    //position: static;
    
    .container {
        text-align: center;
        float: left;
        margin-left: 30px;
        margin-bottom: 100px;
        margin-top: 100px;

        .myPhoto {
            float: left;
            width: 300px;
            margin-left: 110px;
        }
    
        p {
            font-size: 40px;
            float: left;
            position: inherit;
            margin: 115px 25px 20px 40px;
        }
    }


    .bio {
        float: left;
       // margin: 0px 200px 50px 200px;
       // width: 1000px;

        .bioBox {
            display: inline-block;
            //margin-left: 330px;
            margin: 20px 260px 20px 330px;
            background-color: rgba(70, 110, 225, 0.25);;
            
    
            img {
                float: left;
                margin-top: 50px;
                margin-left: 10px;
                width: 200px;
            }
    
            h1 {
                float: left;
                width: 600px;
                margin: 50px;
                position: inherit;
                font-size: 20px;
            }
            
        }
    }





}

