<header [ngClass]="setColor()" (scroll)="stickyNavbar($event);" id="header">
  <div class="container">
    <a href="#" class="logo">Piotr Siwek</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/" (click)="navColor = 0">Home</a></li>
        <li><a href="#" routerLink="/about" (click)="navColor = 1">About me</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <a href="https://facebook.com/POTJL" target="_blank">
    <img class="logo" src="/assets/fb-logo.png">
  </a>
  <a href="https://www.youtube.com/channel/UCdIA1Zf-iOPO4Zxf50P5Slw" target="_blank">
    <img class="logo" src="/assets/yt-logo.png/">
  </a>
  <a href="https://www.linkedin.com/in/piotr-siwek-b421aa197/" target="_blank">
    <img class="logo" src="/assets/in-logo.png/">
  </a>
</footer>
